{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 35, "knowledge_revision": 74, "git_revision": "cfe54cd13624bac281d5d750d012c825a290fc62", "hash": "9fdbc7d3bd5b6d1203f31ffae4d0a565", "format-version": 4, "code-base-name": "default", "filename": "scoring_backend_workspace/scoring_backend/requirements.txt", "revision_history": [{"74": "cfe54cd13624bac281d5d750d012c825a290fc62"}]}