{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 23, "knowledge_revision": 48, "git_revision": "", "hash": "6956aae80c61b9ed44acc4c42df4063b", "format-version": 4, "code-base-name": "default", "filename": "scoring_backend_workspace/scoring_backend/requirements.txt", "revision_history": [{"48": ""}]}